.hero-section{
    height: 100vh;
    /* background-image:radial-gradient( #3f3f3f 5%, var(--black)95%); */
    display: flex;
    align-items: center;
    width: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: var(--black);
    background-image: linear-gradient(45deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,#0c79bd6b),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    /* background-size:15px 15px; */
    background-size: 108% 100%;
    position: relative;
    /* top: -90px; */
    top: 0px;
    z-index: 7;

}


.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: radial-gradient(
      circle at 50% 50%,
      #0000 0,
      #0000 2px,
      hsl(0 0 4%) 2px
    );
    background-size: 8px 8px;
    --f: blur(1em) brightness(6);
    animation: hii 10s linear infinite;
  }
  
  @keyframes hii {
    0% {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
    to {
      backdrop-filter: var(--f) hue-rotate(360deg);
    }
  }
  
  .hero-handler {
    position: relative;
    z-index: 2;
    display: flex;
  }


  
.logo{
    padding: 0px;
}
.headroom-wrapper{
    position: absolute;
    z-index: 9;
    width: 100%;

}
.cv-holder{
    display: inline-flex;
}
.hero-handler{
    display: inline-flex;
    justify-content: space-between;
    align-items:  center;
    width: 100%;
}

.banner{
    margin-top: 120px;
}
.heroTitle h1{   
    margin-bottom: 31px;
    font-size: 60px;
    line-height: 85px;
    font-family: var(--thrd-font);
    color: var(--text-primary-color);
    font-weight: 400;
    align-items: center;
    display: inline-block;    
}
.hero-btn{
    
    animation: fadeIn;
    background-color: var(--black);
    animation-duration: 7s;
}
.heroTitle span{
    font-weight: 600;
    color: var(--secondary-color);
    font-family: var(--thrd-font);
    animation: flash;
    animation-duration:1s;
    text-shadow: 0px 0px 6px var(--secondary-color);
}
.heroTitle p{
    
    font-weight: 400;
    font-size: var(--h6);
    color: #C6C6C6;
    margin-bottom: 31px;
    animation-duration: 10s;   
    animation: fadeIn;
    animation-duration: 3s; 
}
.banner img{
    width: 100%;
    height: auto;
    
    animation: fadeIn;
    animation-duration: 4s;
    
}


#flexible{
    align-items: center;
}
.modal-header{
    border-bottom: none!important;
}
/* About */

.about-section{
    height: auto;
    background-image:  linear-gradient(to top right, var(--back-ground-primary-color), var( --back-ground-third-color)40%);
    background-repeat: no-repeat;

    background-color: var(--black);
    align-items: center;
    display: flex;
}

.about-left::before{
    content: '';
    position: absolute;
    background-image:url('../../../../public/img/Banner/bg_1.svg') ;
    right: 0px;
    opacity: 0.07;
    z-index: 0;
    /* background-size: 100% 100%; */
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
}
.about-content{
    color: var(--white);
}
.about-content h2{
    font-family: var(--thrd-font);
    margin-bottom: 20px;
    margin-bottom: 30px;
    font-size: 45px;
}
.about-content h2 span{
    color: var(  --secondary-color);
    font-family: var(--thrd-font);
    font-weight: 600;
    text-shadow: 0px 0px 3px var(--secondary-color);
    
}
.about-content p{
    color: var(--text);
    font-size: var(--h6);
    font-weight: 400;
    margin-bottom: 30px;

}
.exp-box
{
    padding: 40px;
    background-image: linear-gradient(to top, #0D1113, #272727);
    color: var(--white);
    height: 300px;
    z-index: 1;
    transition: 0.5s;
    width: 48%!important;
    box-shadow: 1px 1px 3px -1px var(--secondary-color);
    border-radius: 10px;
    font-family: var(--secondary-font);
}


.exp-box2{
    padding: 60px 35px ;
    background-image:linear-gradient(to top, #0D1113, #272727);
    color: var(--white);
    right: 0;
    transition: 0.5s;
    margin: 10px;
    top: 200px;
    box-shadow: -1px -1px 3px -1px var(--secondary-color);
    width: 48%!important;
    height: 300px;
    border-radius: 10px;
    text-transform: uppercase;
    position: relative;
}
.about-left .conten{
    padding: 0px 60px;
}
.exp-box h2{
    font-size: 80px;
    font-family: var(--secondary-font);
}
.exp-box p{
    font-size: 30px;
}

.exp-box:hover{
    box-shadow: 0px 0px 3px 3px var(--secondary-color);
}
.exp-box2:hover{
    box-shadow: 0px 0px 3px 3px var(--secondary-color);
}

.exp-box2 h2{
    font-size: 80px;
}
.exp-box2 p{
    font-size: 30px;
}








.experience-section{
    
    height: auto;
    background-image:  linear-gradient(to bottom right, var( --back-ground-third-color)50%, var(--back-ground-primary-color));
}
.experiance-handle{
    width: 90%;
    margin: 0 auto;
}
.section {
    height:250px; 
    background:#bbb; 
    text-align:center; 
    padding:20px 0;
}

    #main-section:before, #main-section:after {content:''; display:table; clear:both;}

.right-side {
    width:750px; 
    display:inline-block; 
    vertical-align:top; 
    float:right;
}
.experiance-list .experiance-timeline .item{
    position: relative;
    padding-left: 74px;
    padding-bottom: 68px;
}
.experiance-list .experiance-timeline .item:hover .date{
    color: var(--secondary-color);
}
.experiance-list .experiance-timeline .item::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #656565;
    border-radius: 50%;
    left: -6px;
    top: 7px;
    z-index: 1;
    transition: .3s;
}
.experiance-list .experiance-timeline .item::after{
    content: '';
    background: #333333;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 0;
}
.experiance-list .experiance-timeline .item .date{
    display: block;
    margin-bottom: 28px;
    color: #bbb;
    transition: .3s;
}
.experiance-list .experiance-timeline .item h2{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 5px;
    color: #fff;
}
.experiance-list .experiance-timeline .item p{
    font-size: 13px;
    color: #999999;
    margin-bottom: 18px;
}
.right-side .experiance-timeline {
    margin-top:50px;
}
.experiance-section-content{
    text-align: left;
}
.left-side {
    text-align: center;
    width:380px; 
    height:auto; 
    background:var(--black); 
    box-shadow: 0px 0px 10px -5px var(--secondary-color);
    border-radius: 10px;
    display:inline-block; 
    float:left; 
    position:sticky; 
    padding: 20px;
    
    top:80px;
}

.left-side img{
    border-radius: 10px;
    transform: rotate(0.5deg);
}
.experiance_title h4{
    color: var(--white);
    text-transform: capitalize;
    padding: 10px 0px;
}
.experiance_title{
    padding: 10px 0px ;
}
.experiance_title ul{
    padding: 0px;
    margin: 0px;
}
.experiance_title ul li {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}

.experiance_title ul li a i{
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 100px;
    color: var(--white);
    transition: 0.5s;
}
.experiance_title ul li a i:hover{
    background-color: var(--secondary-color);
    color: var(--white);
    box-shadow: 0px 0px 10px 1px var(--secondary-color);
}

















.Advantage-section{
     
    height: auto;
    background-image:  linear-gradient(to top right, var( --back-ground-third-color)50%, var(--back-ground-primary-color));
}
.Advantage-handle{
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.Advantageleft{
    height: auto;
  position: relative;
}

.Advantage-content{
    margin: 0;
    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%); */
    color: var(--white);
}
.Advantage-content h2{
    font-family: var(--thrd-font);
    margin-bottom: 20px;
    margin-bottom: 30px;
    font-size: 45px;
}
.Advantage-content h2 span{
    color: var(  --secondary-color);
    font-family: var(--thrd-font);
    font-weight: 600;
    text-shadow: 0px 0px 3px var(--secondary-color);
    
}
.Advantage-content p{

    color: var(--text);
    font-size: var(--h6);
    font-weight: 400;
    margin-bottom: 30px;

}


.marquee-size img{
    width: 40%;
    height: 100%;
    margin: 10px;
    padding: 20px;
    background-color:var(--black);
    border-radius: 20px;
    box-shadow: 0px 0px 3px -1px var(--white);
}











.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:22px;
    display: none;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:35px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
